<div [@routerTransition]>
  
  <div class="content d-flex flex-column flex-column-fluid">
  
                 <sub-header [title]="('SubHeadingSetups' | localize) +' '+ ('Details' | localize)" [breadcrumbs]="breadcrumbs">
                 </sub-header>
             
    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                                     <div class="col-6 mb-3">
                        <h6>{{l("SubHeading")}} :</h6>
                        {{ item.subHeadingSetup.subHeading }}
                    </div>

                                     <div class="col-6 mb-3">
                        <h6>({{l("SectionSetup")}}) {{l("Section")}} :</h6>
                        {{item.sectionSetupSection}}
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>
</div>
