
<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #form="ngForm" novalidate>
                <div class="modal-header bg-danger">
                    <h4 class="modal-title">
                        <span class=" text-center text-white">&nbsp;&nbsp;{{l("Score")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card" style="width: 18rem;">
                        <!-- <div class="card-header">
                          Score
                        </div> -->
                        <ul class="list-group list-group-flush" *ngFor="let sc of scores">
                          <li class="list-group-item"><b>Customer Name</b>: {{sc.customerName}}</li>
                          <li class="list-group-item"><b>Score</b>: {{sc.score}}</li>
                        </ul>
                      </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">{{l("Cancel")}}</button>
                   </div>
            </form>
        </div>
    </div>
</div>

