<div class="row" >
    <div class="col-md-6">
        <div class="" style="margin: 20px 0px 0px 15px;">
            <div class="col-md-6" style="margin-top: 15px;">
                <h3 class="text-center">{{title}}</h3>
                <div class="chart-container" style="position: relative; height:40vh; width:70vw">    
                    <canvas id="cal">{{ Barchart }}</canvas>    
                </div> 
            </div>
        </div>
    </div>
    <div class="col-md-6">

    </div>

</div>
