<div [@routerTransition]>
  
    <div class="content d-flex flex-column flex-column-fluid">
     <sub-header [title]="'RUN PROCESS' | localize">
          <div role="actions">
          <button (click)="runProcess()" class="btn btn-outline-primary"><i class="fas fa-clock"></i> {{l("Run")}}</button>
          <button (click)="reload()" class="btn btn-outline-primary"><i class="fas fa-sync"></i> {{l("Refresh")}}</button>
      </div>
              </sub-header> 
      
      <div [class]="containerClass">
          <div class="card card-custom gutter-b">
            
              <div class="card-body">
                  <!-- <form class="form" autocomplete="off">
                      <div>
                          <div class="row align-items-center">
                              <div class="col-xl-12">
                                  <div class="form-group m-form__group align-items-center">
                                      <div class="input-group">
                                          <input name="transFilter" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                          <span class="input-group-btn">
                                              <button (click)="getRegOutputs()" class="btn btn-danger" type="submit"><i class="flaticon-search-1"></i></button>
                                          </span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form> -->
                  <!-- <div class="row align-items-center">
                      <div class="primeng-datatable-container col-12"
                           [busyIf]="primengTableHelper.isLoading">
                          <p-table #dataTable
                                       (onLazyLoad)="getRegOutputs($event)"
                                       [value]="primengTableHelper.records"
                                       rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                       [paginator]="false"
                                       [lazy]="true"
                                       [scrollable]="true"
                                       ScrollWidth="100%"
                                       [responsive]="primengTableHelper.isResponsive"
                                       [resizableColumns]="primengTableHelper.resizableColumns">
                              <ng-template pTemplate="header">
                                  <tr>
                                      
                                    <th style="width: 150px" pSortableColumn="ParamName">
                                        {{l('ParamName')}}
                                        <p-sortIcon field="ParamName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="Coeff_Estimate">
                                        {{l('Coeff_Estimate')}}
                                        <p-sortIcon field="Coeff_Estimate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="Std_Error">
                                        {{l('Std_Error')}}
                                        <p-sortIcon field="Std_Error"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="t_value">
                                        {{l('t_value')}}
                                        <p-sortIcon field="t_value"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="p_value">
                                        {{l('p_value')}}
                                        <p-sortIcon field="p_value"></p-sortIcon>
                                    </th>
                                  </tr>
                              </ng-template>                           
                              <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                  <tr>
                                      <td style="width:150px">
                                        <span class="ui-column-title"> {{l('ParamName')}}</span>
                                        {{record.paramName}}
                                    </td>
                            <td style="width:150px">
                                    <span class="ui-column-title"> {{l('Coeff_Estimate')}}</span>
                                    {{record.coeff_Estimate}}
                                </td>
                            <td style="width:150px">
                                    <span class="ui-column-title"> {{l('Std_Error')}}</span>
                                    {{record.std_Error}}
                                </td>
                            <td style="width:150px">
                                    <span class="ui-column-title"> {{l('t_value')}}</span>
                                    {{record.t_value}}
                                </td>
                            <td style="width:150px">
                                    <span class="ui-column-title"> {{l('p_value')}}</span>
                                    {{record.p_value}}
                                </td>
                                  </tr>
                              </ng-template>
                          </p-table>
                          <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                          </div>
                          <div class="primeng-paging-container">
                              <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                           #paginator
                                           (onPageChange)="getRegOutputs($event)"
                                           [totalRecords]="primengTableHelper.totalRecordsCount"
                                           [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                              </p-paginator> -->
                             
                          <!-- </div>
                      </div>
                  </div> -->
                  <span class="total-records-count" *ngFor="let x of lastRunDate;">
                    <b style="font-size: 25px; color: #0aa827;">Last RunDate: &nbsp;{{x.runDate | date:'medium'}}</b>
                 </span>
              </div>
              
          </div>
      </div>
      
    </div>
  </div>
