<!-- <div class="row" style="margin: 20px 0px 0px 15px;">
    <div class="col-md-6" style="margin-top: 15px;">
        <h3 class="text-center">{{giniTitle}}</h3>
        <div class="chart-container" style="position: relative; height:40vh; width:70vw">    
            <canvas id="giniCurve">{{ Linechart }}</canvas>    
       </div>
    </div>
</div> -->
<div class="row" style="margin-left: 2px;">
    <h3 class="text-center" style="margin-left:5em;">{{giniTitle}}</h3>
        <div class="chart-container" style="position: relative; height:40vh; width:70vw">    
            <canvas id="giniCurve">{{ Linechart }}</canvas>    
       </div>
</div>     
