<div [@routerTransition]>
  
    <div class="content d-flex flex-column flex-column-fluid">
     <sub-header [title]="'Bank Account' | localize">
          <div role="actions">
          <button (click)="reload()" class="btn btn-outline-danger"><i class="fas fa-sync"></i> {{l("Refresh")}}</button>
      </div>
        </sub-header> 
      
      <div [class]="containerClass">
          <div class="card card-custom gutter-b">
            
              <div class="card-body">
                  <form class="form" autocomplete="off">
                      <div>
                          <div class="row align-items-center">
                              <div class="col-xl-12">
                                  <div class="form-group m-form__group align-items-center">
                                      <div class="input-group">
                                          <input name="bankAccount" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                          <span class="input-group-btn">
                                              <button (click)="getBankAccount()" class="btn btn-danger" type="submit"><i class="flaticon-search-1"></i></button>
                                          </span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                           
                      </div>
                  </form>
  
                  <div class="row align-items-center">
                      <div class="primeng-datatable-container col-12"
                           [busyIf]="primengTableHelper.isLoading">
                          <p-table #dataTable
                                       (onLazyLoad)="getBankAccount($event)"
                                       [value]="primengTableHelper.records"
                                       rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                       [paginator]="false"
                                       [lazy]="true"
                                       [scrollable]="true"
                                       ScrollWidth="100%"
                                       [responsive]="primengTableHelper.isResponsive"
                                       [resizableColumns]="primengTableHelper.resizableColumns">
                              <ng-template pTemplate="header">
                                  <tr>
                                      <!-- <th style="width: 130px">
                                        {{l('Actions')}}
                                    </th> -->
                                      
                                      <th style="width: 150px" pSortableColumn="avgMonInflow">
                                          {{l('Average Monthly Inflow')}}
                                          <p-sortIcon field="avgMonInflow"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="inflowGrowthRate">
                                          {{l('Inflow Growth Rate')}}
                                          <p-sortIcon field="inflowGrowthRate"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="yearlyRepayments">
                                          {{l('Yearly Repayments')}}
                                          <p-sortIcon field="yearlyRepayments"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="creditLineAmount">
                                        {{l('Credit Line Amount')}}
                                        <p-sortIcon field="creditLineAmount"></p-sortIcon>
                                    </th>
                                      
                                  </tr>
                              </ng-template>                           
                              <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                  <tr>
                                      <!-- <td style="width: 130px">
                                         <div class="btn-group dropdown" dropdown container="body">
                                              <button class="dropdown-toggle btn btn-sm btn-danger" dropdownToggle>
                                                  <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                              </button>
                                              <ul class="dropdown-menu" *dropdownMenu>
                                                  <li>
                                                      <a href="javascript:;" class="dropdown-item" (click)="exceptionEditModal.show(record.id)">{{l('Edit')}}</a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </td> -->
                                      <td style="width:150px">
                                              <span class="ui-column-title"> {{l('Average Monthly Inflow')}}</span>
                                              {{record.avgMonInflow}}
                                      </td> 
                                      <td style="width:150px">
                                              <span class="ui-column-title"> {{l('Inflow Growth Rate')}}</span>
                                              {{record.inflowGrowthRate}}
                                      </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title"> {{l('Yearly Repayments')}}</span>
                                              {{record.yearlyRepayments}}
                                      </td>
                                      <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Credit Line Amount')}}</span>
                                        {{record.creditLineAmount}}
                                    </td>                        
                                  </tr>
                                 
                              </ng-template>
                          </p-table>
                          <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                              <!-- {{l('NoData')}} -->
                          </div>
                          <div class="primeng-paging-container">
                              <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                           #paginator
                                           (onPageChange)="getBankAccount($event)"
                                           [totalRecords]="primengTableHelper.totalRecordsCount"
                                           [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                              </p-paginator>
                              <span class="total-records-count">
                                  <!-- {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}} -->
                              </span>
                          </div>
                      </div>
                      <!--<Primeng-Datatable-End>-->
                  </div>
                  
              </div>
          </div>
      </div>
      
    </div>
  </div>
