<div [@routerTransition]>
  
    <div class="content d-flex flex-column flex-column-fluid">
     <sub-header [title]="'Monitoring' | localize">
          <div role="actions">
           <button (click)="profitAnalysisModal.show()" class="btn btn-outline-primary"><i class="fas fa-plus-square"></i> {{l("Create Profit Analysis")}}</button>
           <button (click)="scMonitoringModal.show()" class="btn btn-outline-success"><i class="fas fa-plus-square"></i> {{l("Create")}}</button>
           <button (click)="reload()" class="btn btn-outline-danger"><i class="fas fa-sync"></i> {{l("Refresh")}}</button>
      </div>
              </sub-header> 
      
      <div [class]="containerClass">
          <div class="card card-custom gutter-b">
            
              <div class="card-body">
                  <form class="form" autocomplete="off">
                      <div>
                          <div class="row align-items-center">
                              <div class="col-xl-12">
                                 <div class="col-xl-3">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                          
                                        </div>
                                        <br> 
                                    </div>
                                  </div>
                                  <div class="col-xl-9">
                                    <div class="card card-custom gutter-b" style="position: relative; left: 500px;">
                                       
                                          </div>
                                  </div>
                              </div>
                          </div>
                           
                      </div>
                  </form>
                      <div class="row">
                        <!-- <div class="col-md-10"> -->
                        <table class="table table-borderless">
                            <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Scores</th>
                                    <th>Bin Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let mon of monitorings | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;">
                                    <td>{{i + 1}}</td>
                                    <td>{{mon.scores}}</td>
                                    <td>{{mon.bin_name}}</td>
                                    <td>
                                        <button class="btn btn-danger" (click)="delete(mon)"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr> 
                            </tbody>
                        </table>
                        <div class="row">
                            <!-- v><div class="col-md-2">
                               </di -->
                            <div class="" style="position: relative; left: 1600px;"> 
                                <pagination-controls (pageChange)="p = $event" class="pull-right"></pagination-controls>
                            </div>
                        </div>
                      <br>
                      <br>
                      <br>
                      <!-- </div> -->
                  </div>
                  <br>
          </div>
      </div>
    </div>
    <scMonitoringModal #scMonitoringModal (modalSave)="getSCMonitoring()"></scMonitoringModal>
    <profitAnalysisModal #profitAnalysisModal (modalSave)="getSCMonitoring()"></profitAnalysisModal>
  </div>


